.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.navbar-links {
  display: flex;
  gap: 16px; /* Espacio entre las rutas */
}

a {
  text-decoration: none;
  color: white;
}

a.active {
  font-weight: bold;
  border-bottom: 2px solid white; /* Indicador para la ruta activa */
}
